<!DOCTYPE html>
<html>
<body>
    <h2>Enter values</h2>

    <form action="/submit" method="POST">
        <table>
            <tr>
                <th><label>X:</label></th>
                <th><label>Y:</label></th>
            </tr>
            <tr>
                <td><input type="number" step="any" name="x1" required></td>
                <td><input type="number" step="any" name="y1" required></td>
            </tr>  
            <tr>
                <td><input type="number" step="any" name="x2" required></td>
                <td><input type="number" step="any" name="y2" required></td>
            </tr>  
            <tr>
                <td><input type="number" step="any" name="x3" required></td>
                <td><input type="number" step="any" name="y3" required></td>
            </tr>  
        </table>
        <br><br>

        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>